/*
  Standard Stylesheet for all pages with header & menu-bar

  CodeFactory 2019 - Markus Szokoll
*/

// SCSS VARIABLES
$header_bgc: #5c191b;
$footer_bgc: #1a1a1a;
$nav_bgc: #1a1a1a;

// Standard Styling for ALL ELEMENTS
* { margin: 0pt;
    padding: 0pt;
    border: 0pt;
    //background-color: green;
  }

header {
  width: 100%;
  display: flex;
}

// header, above the navigation - bar
.header_logo { 
  background-color: $header_bgc;
  display: flex;
  height: auto;
}


 
footer {
  margin-top: 100px;  
  background-color: $footer_bgc;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}


#footer_text {
  color: white;
  margin: 0 auto;
  margin-bottom: 5px;
}

#img1 {
  margin: auto auto auto 20px;
  }
#img2 {
  margin: 20px 20px 20px auto;
  }
#img3 {
  margin: auto 20px auto auto;
}
.first_nav_item{
  margin-left: 16px;
}

// navigation-bar-styling
nav {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  overflow: hidden; 
  background-color: $nav_bgc;
 }
 
li {

  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  padding: 5pt;
 }
 
.active_nav{
  color: yellow;
 }
// End of Navigation-Bar-Styling






// THE MAIN CONTENT SECTION
main {
  margin: 5%;
}