/*
  Standard Stylesheet for all pages with header & menu-bar

  CodeFactory 2019 - Markus Szokoll
*/

// SCSS VARIABLES
$header_bgc: #5c191b;
$footer_bgc: #1a1a1a;
$nav_bgc: #1a1a1a;

// Standard Styling for ALL ELEMENTS
* { margin: 0pt;
    padding: 0pt;
    border: 0pt;
    //background-color: green;
  }

header {
  width: 100%;
}
// header, above the navigation - bar
.header_logo { 
  background-color: $header-bgc;
  width: 100%;
  height: auto
  }
footer {
  background-color: $footer-bgc;
  color: white;
}

#img1 {
  padding: 2%;
  }
#img2 {
  padding: 1%;
  }
#img3 {
  text-align: left;
}

// navigation-bar-styling
nav {width: 100%;
height: auto;
}
ul {
  list-style-type: none;
  overflow: hidden; 
  background-color: $nav_bgc;
 }
 
li {

  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  padding: 5pt;
 }
 
.active_nav{
  color: yellow;
 }
// End of Navigation-Bar-Styling






// THE MAIN CONTENT SECTION
main {
  margin: 5%;
}